# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Processed outputs
data/processed/
data/output/

# Veri ve model dosyaları (büyük, GitHub'a gitmesin)
data/raw/
data/processed/
data/ground_truth/
models/